<a href="https://colab.research.google.com/github/AditiAgrawal1/100_days/blob/main/100_days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ***DAY 1***

Problem 1: Day1 - Program to display Fibonacci Series.
    
    Input: How Many Terms do you want to Display: 10
    Output: 0 1 1 2 3 5 8 13 21 34
.............................................................

In [ ]:
def fibonacci_series(num):
  if num==0:
    result = []
  elif num==1:
    result = [0]
  elif num>=2:
    result = [0,1]
    for x in range(num-2):
      result.append(result[-1]+result[-2])
  else:
    result ='wrong input'
  return result

In [ ]:
fibonacci_series(-1)

'wrong input'

Problem 2: Day1 - Program to find Factorial of number.

    Input: Enter a Number: 5
    Output: 5! = 120
.............................................................

In [ ]:

def factorial(num):
  if num>=1:
    result = num*factorial(num-1) 
  elif num==0:
    result = 1
  elif num<0:
    result = 'wrong input'
  return result
#   for x in range(1,num+1):
#    result=result*x

In [ ]:
factorial(0)

1

Problem 3: Day1 - Program to find HCF of numbers.

    Input: Enter 1st Number: 5
            Enter 2nd Number: 12
    Output: HCF: 1
.............................................................

In [ ]:
def HCF(num1,num2):
  num1_factors=set()
  num2_factors=set()
  result=set()
  for x in range(1,num1+1):
    if num1%x==0:
      num1_factors.add(x)
  for x in range(1,num2+1):
    if num2%x==0:
      num2_factors.add(x)
  
  common_factor = num1_factors.intersection(num2_factors)
  result = max(common_factor)
  return result

In [ ]:
HCF(5,12)

1



Problem 4: Day1 - Program to find LCM of numbers.

    Input: Enter 1st Number: 5
            Enter 2nd Number: 12
    Output: LCM: 1
.............................................................

In [ ]:
def LCM(num1,num2):
  num1_factors=set()
  num2_factors=set()
  for x in range(1,num1+2):
    if num1%x==0:
      num1_factors.add(x)
  for x in range(1,num2+2):
    if num2%x==0:
      num2_factors.add(x)
  
  common_factor = num1_factors.intersection(num2_factors)
  hcf = max(common_factor)
  result = (num1*num2)/hcf
  return result
  
LCM(5,12)

60.0



Problem 5: Day1- Program to check whether given number is Fibonacci or not.

    Input: Enter a Number: 78
    Output: It's not an Fibonacci Number
    
    Input: Enter a Number: 55
    Output: Yup! It's a Fibinacci Number

In [ ]:
def fibonacci_or_not(num):
  
  if num>=0:
    fib = [0,1]
    for x in range(num-2):
      fib.append(fib[-1]+fib[-2])
    if num in fib:
      result=('It is a fibonacci')
    else:
      result=('It is not a fibonacci')
  else:
    result=('It is not a fibonacci')
  return result

In [ ]:
fibonacci_or_not(78)

'It is not a fibonacci'

### ***Day 2***

Problem 1: Program to Check whether numbers is Armstrong or not.
    Input: Enter a Number: 189
    Output: No, It's not an Armstrong Number
    
    Input: Enter a Number: 153
    Output: It's an Armstrong Number

In [ ]:
def armstrong(num):
  num=int(num)
  temp=num
  num_list = []
  while num>=1:
    num_list.append(num%10)
    num=int(num/10)
  check = 0
  for x in num_list:
    check +=(x**len(num_list))
  if check==temp:
    return 'It is Armstrong Number'
  elif check!=temp:
    return 'It is not an Armstrong Number'

In [ ]:
armstrong(153)

'It is Armstrong Number'

Problem 2: Program for Array Rotation.

    Input: [ 5, 6, 7, 8, 1, 11, 15, 16], N = 4
    Output: [1, 11, 15, 16, 5, 6, 7, 8]

In [ ]:
def Array_Rotation(arr,n):
  for x in range(n):
   arr.append(arr[x])
  for x in range(n):
    arr.pop(0)    
  return arr

In [ ]:
Array_Rotation([ 5, 6, 7, 8, 1, 11, 15, 16],4)

[1, 11, 15, 16, 5, 6, 7, 8]

Problem 3: Program for Maximum and Minimum elements in a list.

    Input: [5, 7, 9, 4, 6, 23, 11, 12]
    Output: Max: 23, MIN: 4

In [ ]:
def max_min_in_list(list1):
  max_list = {'Max':max(list1)}
  min_list = {'Min':min(list1)}
  return max_list,min_list

In [ ]:
max_min_in_list([5, 7, 9, 4, 6, 23, 11, 12])

({'Max': 23}, {'Min': 4})

Problem 4: Program to check whether number is Palindrome or not.

    Input: Enter a Number: 121
    Output: Palindrome Number
       
    Input: Enter a Number: 123
    Output: Not a Palindrome Number

In [ ]:
def palindrome(num):
  num=int(num)
  temp=int(num)
  list_num=[]
  check=0
  while temp>0:
    list_num.append(temp%10)
    temp=int(temp/10)
  temp=int(num)
  for x in range(len(list_num)-1,-1,-1):
    check=check+(temp%10)*(10**x)
    temp=int(temp/10)
  if check==num:
    return 'Palindrome Number'
  else:
    return 'Not a Palindrome Number'

In [ ]:
palindrome(121)

'Palindrome Number'

Problem 5: Program to check Prime Number using Sieve of Eratosthenes.

    Input: Upto How Many Terms: 20
    Output: 2 3 5 7 11 13 17 19

In [ ]:
def prime_num(num):
  prime=[]
  composite=[]
  for x in range(2,num):
    temp=[]
    for y in range(1,x+1):
      if x%y==0:
        temp.append(y)
      else:
        pass
    if len(temp)>2:
      composite.append(x)
    else:
      prime.append(x)

  return prime

In [ ]:
print(prime_num(100))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Print
*         
**        
* *       
*  *      
*   *     
*    *    
*     *   
*      *  
*       * 
*****

In [ ]:
def pyramid_star(n):
  
  for x in range(n):
    if x==0:
      print('*')
    elif x>0 and x!=n-1:
      print('*'+' '*x+'*')
    elif x==n-1:
      print('*'*n)

In [ ]:
pyramid_star(10)

*
* *
*  *
*   *
*    *
*     *
*      *
*       *
*        *
**********

 Given a String Matrix, perform column-wise concatenation of strings, handling variable lists lengths.
 
Input : [[“Gfg”, “good”], [“is”, “for”]]
Output : [‘Gfgis’, ‘goodfor’]
Input : [[“Gfg”, “good”, “geeks”], [“is”, “for”, “best”]] 
Output : [‘Gfgis’, ‘goodfor’, “geeksbest”]

In [ ]:
# def concatenation(list1):
#   output=[]
#   for x in range(len(list1[0])):
#     output.append(list1[0][x]+list1[1][x])
#   return output

In [ ]:
def concatenation(list1):
  output=[]
  for x in range(len(list1[0])):
    temp=' '
    for y in range(len(list1)):
      temp=temp+list1[y][x]
    output.append(temp)
  return output

In [ ]:
list1=[['Gfg', 'good', 'geeks'], ['is', 'for', 'best'],['Gfg', 'good', 'geeks']]
concatenation(list1)

[' GfgisGfg', ' goodforgood', ' geeksbestgeeks']

### ***Day 3***

Problem 1: Program to check whether list is Monotonic or not.

    Input: [5, 6, 7, 9, 1, 10, 25, 31]
    Output: No, It's not an Monotonic List
    
    Input: [1, 2, 3, 4, 5, 6, 7, 8]
    Output: Yup, It's an Monotonic List

In [ ]:
def Monotonic(list1):
  inc=[]
  dec=[]
  for x in range(len(list1)-2):
    if list1[x]>list1[x+1] and list1[x]-list1[x+1]==list1[x+1]-list1[x+2]:
      inc.append(list1[x]-list1[x+1])
      inc.append(list1[x+1]-list1[x+2])
    elif list1[x]<list1[x+1] and list1[x+1]-list1[x]==list1[x+2]-list1[x+1]:
      dec.append(list1[x+1]-list1[x])
      dec.append(list1[x+2]-list1[x+1])
    else:
      return 'Not Monotinic'
    
  check=True
  for x in range(len(inc)-1):
    if inc[x]==inc[x+1] or dec[x]==dec[x+1]:
      check=True
    else:
      check=False
  if check==True:
    return 'Monotonic'
  else:
    return "Not a Monotonic"

In [ ]:
Monotonic([8,7,6,5,4,3,2,1])

'Monotonic'

Problem 2: Program for Reversing a list.

    Input: [7, 4, 5, 6, 7, 8, 9, 1]
    Output: [1, 9, 8, 7, 6, 5, 4, 7]

In [ ]:
def reversing(list1):
  
  output=[]
  for x in range(len(list1)):
    output.append(list1[x])
  return output

In [ ]:
reversing([7, 4, 5, 6, 7, 8, 9, 1])

[7, 4, 5, 6, 7, 8, 9, 1]

Problem 3: Program for Searching elements in a list.

    Input: [7, 6, 5, 3, 2, 6, 5, 10], N = 6
    Output: Present

In [ ]:
def searching(list1,n):
  if n in list1:
    return 'Present'
  else:
    return 'Not Present'

In [ ]:
searching([7, 6, 5, 3, 2, 6, 5, 10], 6)

'Present'

Problem 4: Program for Second Largest element in a list.

    Input: [7, 6, 5, 3, 2, 6, 5, 10]
    Output: Second Largest Element is: 7

In [ ]:
def second_largest(list1):
  list1.remove(max(list1))
  return 'Second Largest Element is:',max(list1)

In [ ]:
second_largest([7, 6, 5, 3, 2, 6, 5, 10])

('Second Largest Element is:', 7)

Problem 5: Program to Swap first element with last element in a list.

    Input: [10, 5, 2, 6, 3, 7, 9, 4]
    Output: [4, 5, 2, 6, 3, 7, 9, 10]

In [ ]:
def swap_first_last_ele(list1):  
  temp = tuple(list1)
  list1[-1] = temp[0]
  list1[0] = temp[-1]
  return list1

In [ ]:
swap_first_last_ele([10, 5, 2, 6, 3, 7, 9, 4])

[4, 5, 2, 6, 3, 7, 9, 10]

### ***Day 4***

Problem 1: Program for Cloning/Copying the list.

    Input: [4, 5, 7, 8, 9, 6, 10, 15]
    Output: [4, 5, 7, 8, 9, 6, 10, 15]

In [ ]:
def cloning(list1):
  return list1

In [ ]:
list1 = [4, 5, 7, 8, 9, 6, 10, 15]
cloning(list1)

[4, 5, 7, 8, 9, 6, 10, 15]

Problem 2: Program for N Largest elements in a list.

    Input: [4, 5, 7, 8, 9, 6, 10, 15]
    Output: [15, 10, 9, 8]

In [ ]:
def n_largest_elements(list1,n):
  output=[]
  temp=list1
  for x in range(n):
    output.append(max(temp))
    temp.remove(max(temp))
  return output

In [ ]:
n_largest_elements([4, 5, 7, 8, 9, 6, 10, 15],5)

[15, 10, 9, 8, 7]

Problem 3: Program for Occurrences of elements.

    Input: [14, 25, 16, 23, 10, 5, 6, 8, 7, 9, 10, 25, 14], N = 14
    Output: 14 Occurs 2 times

In [ ]:
def occurrences_of_elements(list1,n):
  a = list1.count(n)
  b = print(f'{n} Occurs {a} times')
  return b

In [ ]:
occurrences_of_elements([14, 25, 16, 23, 10, 5, 6, 8, 7, 9, 10, 25, 14],14)

14 Occurs 2 times

Problem 4: Program for Removing Empty list.

    Input: [5, 6, [], 7, 8, 9, [], 12, [], 4,[]]
    Output: [5, 6, 7, 8, 9, 12, 4]

In [ ]:
def removing_empty_list(list1):
  for x in list1:
    if x==[]:
      list1.remove(x)
  return list1

In [ ]:
list1=[5, 6, [], 7, 8, 9, [], 12, [], 4,[]]
removing_empty_list(list1)

[5, 6, 7, 8, 9, 12, 4]

Problem 5: Program for Removing Multiple Elements.

    Input: [1, 2, 3, 4, 5], N = [2, 4]
    Output: [1, 3, 5]

In [ ]:
def removing_multiple_elements(list1,n):
  y=tuple(n)
  for x in range(len(n)):
    if y[x] in list1:
      list1.remove(y[x])
  return list1

In [ ]:
list1=[1, 2, 3, 4, 5]; n = [2, 4]
removing_multiple_elements(list1,n)

[1, 3, 5]

### ***Day 5***

Problem 1: Program to Break list into Chunks of list.

    Input: [10, 45, 20, 62, 47, 85, 12, 63, 24, 78, 10], N = 2
    Output: [[45, 20], [62, 47], [85, 12], [63, 24], [78, 10]]

In [ ]:
# def list_into_Chunks(list1,n):
  # set1=set(list1)
  # new_list=list(set1)
  # output=[]
  # if len(new_list)%2==0:
  #   for x in range(0,len(new_list),2):
  #     output.append((new_list[x],new_list[x+1]))
  #   return output
  # elif len(new_list)%2!=0:
  #   for x in range(0,len(new_list)-1,2):
  #     output.append((new_list[x],new_list[x+1]))
      
  #   return output

### ***OR***

In [ ]:
def list_into_Chunks(list1,n):
  new_list=list(list1)
  for x in range(len(list1)):
    if new_list.count(x)>1:
      new_list.remove(x)
  output=[]
  if len(new_list)%n==0:
    for x in range(0,len(new_list),n):
      a=x
      temp=[]
      for y in range(n):
        temp.append(new_list[a])
        a=a+1
      output.append(tuple(temp))
    return output
  elif len(new_list)%n!=0:
    for x in range(0,len(new_list)-(n-1),n):
      a=x
      temp=[]
      for y in range(n):
        temp.append(new_list[a])
        a=a+1
      output.append(tuple(temp))
    return output

In [ ]:
list1=[10, 45, 20, 62, 47, 85, 12, 63, 24, 78, 10,11,15]; n = 4
list_into_Chunks(list1,n)

[(45, 20, 62, 47), (85, 12, 63, 24), (78, 10, 11, 15)]

Problem 2: Program for Cumulative Sum of list.

    Input: [10, 20, 30, 40, 50, 60]
    Output: [10, 30, 60, 100, 150, 210]

In [ ]:
def cumulative_sum(list1):
  output=[]
  for x in range(len(list1)):
    if x !=0:
      output.append(output[x-1]+list1[x])
    else:
      output.append(list1[x])
  return output

In [ ]:
list1=[10, 20, 30, 40, 50, 60]
cumulative_sum(list1)

[10, 30, 60, 100, 150, 210]

Problem 3: Program to print Duplicates in list.

    Input: [4, 5, 1, 2, 6, 5, 2]
    Output: [5, 2]

In [ ]:
def print_duplicates(list1):
  output=[]
  for x in list1:
    if list1.count(x)>1:
      output.append(x)
      for y in range(list1.count(x)):
        list1.remove(x)
  return output

In [ ]:
list1=[4, 5, 1, 2, 6, 5, 2]
print_duplicates(list1)

[5, 2]

Problem 4: Program for Flattening a list.

    Input: [1, 2, [3, 4, [5, 6], 7], [[[8, 9], 10]], [11, [12, 13]]]
    Output: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [ ]:
def Flattening(list1):
  output=[]
  for x in list1:
    if type(x) is type(list1):
      output.extend(Flattening(x))
    else:
      output.append(x)
  return output

In [ ]:
list1=[1, 2, [3, 4, [5, 6], 7], [[[8, 9], 10]], [11, [12, 13]]]
Flattening(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

# ***Day 6***

Problem 1: Program for Increamenting Numeric String.

    Input: ["100", "Days", "of", "CodeChallenge", "234", "is", "98", "123", "best", "4"], N = 10
    Output: ['110', 'Days', 'of', 'CodeChallenge', '244', 'is', '108', '133', 'best', '14']

In [ ]:
def increamenting_num_str(list1,n):
  output=[]
  for x in list1:
    temp=0
    try:      
      x=int(x)
      if type(x)==int:
        temp = x+n
        temp =str(temp)
        output.append(temp)
      else:
        output.append(x)
    except:
      if type(x)==int:
        temp = x+n
        temp =str(temp)
        output.append(temp)
      else:
        output.append(x)
  return output

In [ ]:
list1=["100", "Days", "of", "CodeChallenge", "234", "is", "98", "123", "best", "4"]; n = 10
increamenting_num_str(list1,n)

['110', 'Days', 'of', 'CodeChallenge', '244', 'is', '108', '133', 'best', '14']

Problem 2: Program to find Maximum of each key in list.

    Input: [{"Days": 8, "Code": 1, "Challenge": 9}, {"Days": 2, "Code": 9, "Challenge": 1}, {"Days": 5, "Code": 10, "Challenge": 7}]
    Output: {'Days': 8, 'Code': 10, 'Challenge': 9}

In [ ]:
list1=[{"Days": 8, "Code": 1, "Challenge": 9}, {"Days": 2, "Code": 9, "Challenge": 1}, {"Days": 5, "Code": 10, "Challenge": 7}]

In [ ]:
def max_each_key(list1):
  output=dict()
  for x in list1:
    
    for key,value in x.items():
      if key in output:
        if output[key]<value:
          output.update({key:value})
      else:
        output.update({key:value})
      
  return output

In [ ]:
max_each_key(list1)

{'Challenge': 9, 'Code': 10, 'Days': 8}

Problem 3: Program to Sort list_1 by list_2.

    Input: ["a", "b", "c", "d", "e", "f", "g", "h", "i"], [0,   1,   1,    0,   1,   2,   2,   0,   1]
    Output: ['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

In [ ]:
def Sort_list1_by_list2(list1,list2):
  temp=list(zip(list2,list1))
  temp.sort()
  output=[]
  for x in range(len(temp)):
    output.append(temp[x][1])
  return output

In [ ]:
list1=["a", "b", "c", "d", "e", "f", "g", "h", "i"]; list2=[0,   1,   1,    0,   1,   2,   2,   0,   1]

In [ ]:
Sort_list1_by_list2(list1,list2)

['a', 'd', 'h', 'b', 'c', 'e', 'i', 'f', 'g']

Problem 4: Program for Words Reverse Pairs in list.

    Input: ["skeeg", "best", "tseb", "for", "skeeg", "skeeg", "best", "geeks", "tseb"]
    Output: 3 Reverse Pairs

In [ ]:
def reverse_pairs(list1):
  count=0
  for x in list1:
    if x[::-1] in list1:
      list1.remove(x)
      list1.remove(x[::-1])
      count+=1
  return count, 'Reverse pairs'

In [ ]:
list1=["skeeg", "best", "tseb", "for", "skeeg", "skeeg", "best", "geeks", "tseb"]
reverse_pairs(list1)

(3, 'Reverse pairs')

# ***Day 7***

Problem 1: Program to Remove Row with custom elements.

    Input: Test_list = [[5, 3, 1], [7, 8, 9], [1, 10, 22], [12, 18, 21]], N = [3, 10, 19, 29, 20, 15]
    Output: [[7, 8, 9], [12, 18, 21]]

In [ ]:
def remove_row_custom_ele(list1,n):
  for x in n:
    for y in list1:
     if x in y:
       list1.remove(y)
    else:
        pass
  return list1

In [ ]:
list1 = [[5, 3, 1], [7, 8, 9], [1, 10, 22], [12, 18, 21]];n = [3, 10, 19, 29, 20, 15]
remove_row_custom_ele(list1,n)

[[7, 8, 9], [12, 18, 21]]

Problem 2: Program for Removing Specific Digit from every element.

    Input: [343, 893, 1948, 3433333, 2346], N = 3
    Output: ['4', '89', '1948', '4', '246']

In [ ]:
list1=[343, 893, 1948, 3433333, 2346];n = 3

In [ ]:
def removing_specific_digit(list1,n):
  output=[]
  n=str(n)
  for x in list1:
    temp=str(x)    
    if n in temp:
      out= temp.replace(n,'')
      output.append(out)
    else:
      output.append(temp)
  return output

In [ ]:
removing_specific_digit(list1,n)

['4', '89', '1948', '4', '246']

Problem 3: Program to print strings Based on Prefix.

    Input: Test_list = ["geeks", "peeks", "meeks", "leeks", "mean"], Prefix_list = ["ge", "ne", "me", "re"]
    Output: ['geeks', 'meeks', 'mean']

In [ ]:
test_list = ["geeks", "peeks", "meeks", "leeks", "mean"]; prefix_list = ["ge", "ne", "me", "re"]

In [ ]:
def strings_based_on_prefix(test_list,prefix_list):
  output=[]
  for x in test_list:
    for y in prefix_list:
      if y in x:
        if x.index(y)==0:
          output.append(x)
  return output

In [ ]:
strings_based_on_prefix(test_list,prefix_list)

['geeks', 'meeks', 'mean']

Problem 4: Program to Swap ith with jth element.

    Input: Test_list = [4, 7, 8, 0, 8, 4, 2, 9, 4, 8, 4], i, j = 4, 8
    Output: [8, 7, 4, 0, 4, 8, 2, 9, 8, 4, 8]

In [ ]:
Test_list = [4, 7, 8, 0, 8, 4, 2, 9, 4, 8, 4]; i, j = 4, 8

In [ ]:
def swap_ith_with_jth_ele(Test_list,i,j):
  Test_tuple=tuple(Test_list)
  output=[]
  for x in Test_tuple:
    if x==i:
      output.append(j)
    elif x==j:
      output.append(i)
    else:
      output.append(x)
  return output

In [ ]:
swap_ith_with_jth_ele(Test_list,i,j)

[8, 7, 4, 0, 4, 8, 2, 9, 8, 4, 8]

# ***Day 8***

Problem 1: Program for elements Mutiple of elements in a list.

    Input: Test_list = [4, 24, 8, 10, 12, 23], Check_list = [6, 4]
    Output: [24, 12]

In [ ]:
def mutiple_of_elements_list(list1,list2):
  output = []
  for x in list1:
    count = 0
    for y in list2:
      if x%y == 0:
        count +=1
    if count == len(list2):
      output.append(x)
  return output

In [ ]:
list1 = [4, 24, 8, 10, 12, 23]; list2 = [4,2]

In [ ]:
mutiple_of_elements_list(list1,list2)

[4, 24, 8, 12]

Problem 2: Program to print element with Maximum Vowel in a list.

    Input: ["gfg", "beaeioust", "for", "geeks"]
    Output: beaeioust

In [ ]:
def ele_with_max_vowel(list1):
  dict1={}
  for x in list1:
    a=x.count('a')
    e=x.count('e')
    i=x.count('i')
    o=x.count('o')
    u=x.count('u')
    vowel= a+e+i+o+u
    dict1[x] = vowel
  list1_ele = list(dict1.keys())
  list1_vowel= list(dict1.values())
  output = list1_ele[list1_vowel.index(max(list1_vowel))]

  return output

In [ ]:
list1 = ["gfg", "beaeioust", "for", "geeks"]

In [ ]:
ele_with_max_vowel(list1)

'beaeioust'

Problem 3: Program for Occurrences of i before first j in a list.

    Input: Test_list = [4, 5, 6, 4, 1, 4, 8, 5, 4, 3, 4, 9], i, j = 4, 8
    Output: 4 Occurs 3 times before 8 Occur

In [ ]:
def occurrences_of_i_before_first_j(Test_list,i,j):
  if i==j:
    return 'i and j cannot be same'
  

  count = 0
  for x in Test_list:
    if x==j:
      break
    if x==i:
      count+=1
  return print(f'{i} Occurs {count} times before {j} Occur')

In [ ]:
Test_list = [4,4, 5, 6, 4, 1, 4, 8, 5, 4, 3, 4, 9]; i, j = 4, 9

In [ ]:
occurrences_of_i_before_first_j(Test_list,i,j)

4 Occurs 6 times before 9 Occur

Problem 4: Program to Sort Row by frequency of key.

    Input: [[10, 2, 3, 2, 3], [5, 5, 4, 7, 7, 4], [1, 2], [1, 1, 2, 2, 2]], n = 2
    Output: [[5, 5, 4, 7, 7, 4], [1, 2], [10, 2, 3, 2, 3], [1, 1, 2, 2, 2]]

In [ ]:
list1 = [[10, 2, 3, 2, 3], [5, 5, 4, 7, 7, 4], [1, 2], [1, 1, 2, 2, 2]]; n = 2

In [ ]:
def sort_row_by_frequency_of_key(list1,n):
  output = []
  temp=[]
  for x in list1:
    temp.append(x.count(n))
  zip_list1_freq = list(zip(temp,list1))
  zip_list1_freq.sort()
  for x in zip_list1_freq:
    output.append(x[1])
  return output

In [ ]:
sort_row_by_frequency_of_key(list1,n)

[[5, 5, 4, 7, 7, 4], [1, 2], [10, 2, 3, 2, 3], [1, 1, 2, 2, 2]]

# ***Day 9***

Problem 1: Program to Add Two Matrix.

    Input: X = [[1, 2, 3],
    		[4, 5, 6],
     		[7, 8, 9]]

	    Y = [[9, 8, 7],
    		[6, 5, 4],
     		[3, 2, 1]]
    Output: [10, 10, 10, 10, 10, 10, 10, 10, 10]

In [ ]:
x = [[1, 2, 3],
        [4, 5, 6],
         [7, 8, 9]]
y= [[9, 8, 7],
        [6, 5, 4],
         [3, 2, 1]]

In [ ]:
import numpy as np

In [ ]:
def add_2_matrix(x,y):
  x=np.array(x)
  y=np.array(y)
  output = x+y
  return output.flatten()

In [ ]:
add_2_matrix(x,y)

array([10, 10, 10, 10, 10, 10, 10, 10, 10])

Problem 2: Program to Multiply Two Matrix.

    Input: A = [[12, 7, 3], [4, 5, 6], [7, 8, 9]], B = [[5, 8, 1, 2], [6, 7, 3, 0], [4, 5, 9, 1]]
    Output: [[114, 160, 60, 27], [74, 97, 73, 14], [119, 157, 112, 23]]

In [ ]:
A = [[12, 7, 3], [4, 5, 6], [7, 8, 9]]; B = [[5, 8, 1, 2], [6, 7, 3, 0], [4, 5, 9, 1]]

In [ ]:
import numpy as np

In [ ]:
def multiply_2_matrix(A,B):
  a=np.array(A)
  b=np.array(B)
  return a*b

In [ ]:
multiply_2_matrix(A,B)

ValueError: ignored

Problem 3: Program for Product of all elements in Matrix.

    Input: [[1, 4, 5], [7, 3], [4], [46, 7, 3]]
    Output: 1622880

In [ ]:
input_list = [[1, 4, 5], [7, 3], [4], [46, 7, 3]]
output=[]

In [ ]:
def flatten(input_list,output):
  
  for x in range(len(input_list)):

    if type(input_list[x])==list:      
      flatten(input_list[x],output)
    else:
      output.append(input_list[x])
  return output

def  prod_of_all_ele_in_matrix(input_list):
  output = []
  flatten(input_list,output)
  result=1
  for x in output:
    result*=x
  return result

In [ ]:
prod_of_all_ele_in_matrix(input_list)

1622880

Problem 4: Program to Transpose a Matrix.

    Input: [[12, 7], [4, 5], [3, 8]]
    Output: [12, 4, 3]
	     [7, 5, 8]

In [ ]:
def transpose_matrix(input):
  result =[]
  for x in range(len(input[0])):
    result.append([])
    for y in range(len(input)):
      result[x].append(input[y][x])
  return result

In [ ]:
input=[[12, 7], [4, 5], [3, 8],[10,11]]
transpose_matrix(input)

[[12, 4, 3, 10], [7, 5, 8, 11]]

# ***Day 10***

Problem 1: Program for Kth Element in Matrix.

    Input: Test_list = [[4, 5, 6],
                        [8, 1, 10],
             	        [7, 12, 5]]
            K = 2
    Output: [5, 1, 12]

In [ ]:
def Kth_Element_in_Matrix(test_list,k):
  output=[]
  for x in range(len(test_list)):
    output.append(test_list[x][k-1])
  return output

In [ ]:
test_list = [[4, 5, 6],
                    [8, 1, 10],
                     [7, 12, 5]]
k=2

In [ ]:
Kth_Element_in_Matrix(test_list,k)

[5, 1, 12]

Problem 1: Program for String Palindrome.

    Input: amma
    Output: Palindrome String
    
    Input: code
    Output: Not a Palindrome String

In [ ]:
def String_Palindrome(Input):
  check = ''
  for x in range(-1,-(len(Input)+1),-1):
    check = check + Input[x]
  
  if Input==check:
    return 'Palindrome String'  
  else:
    return 'Not a Palindrome String'

In [ ]:
String_Palindrome("amma")

'Palindrome String'

Problem 1: Program to check whether string is Symmetric or Palindrome.

    Input: amam
    Output: Symmetric and Not Palindrome
    
    Input: amaama
    Output: Symmetric and Palindrome

In [ ]:
def symmetric_or_palindrome(input):
  a = String_Palindrome(input)
  len_input = len(input)
  if input[int((len_input/2)):] == input[:int((len_input/2))]:
    return print(f'Symmetric and {a}')
  else:
    return print(f'not symmetric and {a}')

In [ ]:
symmetric_or_palindrome('amaama')

Symmetric and Palindrome String

Problem 1: Program for Vertical Concatenation of Matrix.

    Input: [["Gfg", "good"], ["is", "for"], ["Best"]]
    Output: ['GfgisBest', 'goodfor', '']

In [ ]:
list1 = [["Gfg", "good"], ["is", "for"], ["Best"]]

In [ ]:
def Vertical_Concatenation_of_Matrix(list1):
  output = []
  for x in range(len(list1[0])):
    output.append('')
    for y in range(len(list1)):
      try:
        output[x]+=list1[y][x]
      except:
        pass
  return output

In [ ]:
Vertical_Concatenation_of_Matrix(list1)

['GfgisBest', 'goodfor']

# ***Day 11***

Problem 1: Program to Remove Duplicates from a List.

    Input: [1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6]
    Output: [1, 2, 3, 4, 5, 6]

In [ ]:
def Remove_Duplicates_from_List(list1):
  list_set = set(list1)
  output = list(list_set)
  return output

In [ ]:
list1 = [1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6]

In [ ]:
Remove_Duplicates_from_List(list1)

[1, 2, 3, 4, 5, 6]

Problem 2: Program to Remove Particular Character.

    Input: Hey! There satyam here, K = !
    Output: Hey There satyam here

In [ ]:
def Remove_Particular_Character(string,k):
  output =''
  for x in string:
    if x!=k:
      output=output+x
  return output

In [ ]:
string = 'Hey! There satyam here'; k = '!'
Remove_Particular_Character(string,k)

'Hey There satyam here'

Problem 3: Program to Reverse Words of string.

    Input: 100 Days of Code Challenge
    Output: Challenge Code of Days 100

In [ ]:
def Reverse_Words_of_string(string):
  List_string=string.split(' ')
  output=''
  for x in range(-1,-len(List_string)-1,-1):
    output= output + List_string[x] + ' '
  return output

In [ ]:
string = '100 Days of Code Challenge'
Reverse_Words_of_string(string)

'Challenge Code of Days 100 '

Problem 4: Program to Convert Snake Case to Pascal case.

    Input: 100 days of code challenge
    Output: 100DaysOfCodeChallenge

In [ ]:
def Snake_to_Pascal_case(string):
  list_string = string.split(' ')
  temp = []
  
  for x in list_string:
    x=str(x)
    z = x[0].upper()
    for y in range(1,len(x)):  
      z=z+x[y]
    temp.append(z)
  output = ''
  for y in temp:
    output = output + y
  return output

In [ ]:
string = '100 days of code challenge'
Snake_to_Pascal_case(string)

'100DaysOfCodeChallenge'

Problem 5: Program to Find word with Maximum Frequency.

    Input: hey you yeah you where are you
    Output: you

In [ ]:
string = 'hey you yeah you where are you'

In [ ]:
def word_with_Maximum_Frequency(string):
  list_string=string.split(' ')
  dict_string ={}
  for x in list_string:
    dict_string[x]=list_string.count(x)
  word = list(dict_string.keys())
  frequency = list(dict_string.values())
  max_f= max(frequency)
  max_f_w = word[frequency.index(max_f)]
  return max_f_w

In [ ]:
word_with_Maximum_Frequency(string)

'you'

# ***Day 12***

Problem 1: Program for Even length String.

    Input: 100 Days of Code Challenge
    Output: Days, of, Code

In [ ]:
def Even_length_String(string):
  list_string = string.split(' ')
  output =' '
  for x in list_string:
    if len(x)%2==0:
      output = output+x + ' '
  return output

In [ ]:
string = '100 Days of Code Challenge'
Even_length_String(string)

' Days of Code '

Problem 2: Program for least Frequency Character.

    Input: this is github challenge
    Output: u

In [ ]:
def least_Frequency_Character(string):
  new_string=string.replace(' ','')
  list_new_string = list(new_string)

  dict_string = {}
  for x in list_new_string:
    dict_string[x]=list_new_string.count(x)
  string_list = list(dict_string.keys())
  string_freq = list(dict_string.values())

  return string_list[string_freq.index(min(string_freq))]

In [ ]:
string = 'this is github challenge'

In [ ]:
least_Frequency_Character(string)

'u'

Problem 3: Program for Matching Characters in string.

    Input: F1 = 100 Days of Code Challenge, F2 = Code Challenge
    Output: Code Challenge

In [ ]:
def Matching_Characters(F1,F2):
  list_F1 = F1.split(' ')
  list_F2 = F2.split(' ')
  output =''
  for x in list_F1:
    for y in list_F2:
      if x==y:
        output = output+' '+x

  return output

In [ ]:
F1 =" 100 Days of Code Challenge"; F2 = "Code Challenge"
Matching_Characters(F1,F2)

' Code Challenge'

Problem 4: Program to print String with Vowels.

    Input: Github Challenge
    Output: Not Accepted
    
    Input: aaoaao
    Output: Accepted

In [ ]:
def String_with_Vowels(string):
  count = 0
  for x in string:
    if x=='a' or x=='e' or x=='i' or x=='o' or x=='u':
      count+=1
  if count == len(string):
    return 'Accepted'
  else:
    return 'Not Accepted'

In [ ]:
string = 'Github Challenge'

In [ ]:
string = 'aaoaao'

In [ ]:
String_with_Vowels(string)

'Accepted'

# ***Day 13***

Problem 1: Program for Removing ith Character from string.

    Input: Code Challenge, K = 6
    Output: Code Callenge

In [ ]:
string='Code Challenge'; K = 6

In [ ]:
def Removing_ith_Character_from_string(string,K):
  return string[:K]+string[K+1:]

In [ ]:
Removing_ith_Character_from_string(string,K)

'Code Callenge'

Problem 2: Program for Special Characters in string.

    Input:  github@io
    Output: Not Accepted
    
    
    Input:  githubio
    Output: Accepted

Problem 3: Program for checking string is Binary or not.

    Input: 123456
    Output: Not a Binary
    
    
    Input: 1011001011
    Output: Binary

Problem 4: Program to print all the words greater than given length.

    Input: Hey! this is 100 Days of Code Challenge, N = 4
    Output: Challenge